.custom_modal {
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.3);
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 49;
}

.modal_window {
	position: relative;
	z-index: 50;
	width: 80%;
	max-width: 500px;
}

.modal_background {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 49;
}
